* {
	box-sizing: border-box;
}

.html, body{
	height: 100%;
	margin: 0;
	/*position: relative;*/
}

.header{
	width: 80%;
	height: 200px;
	font-family: sans-serif;
	font-size: 20px;
	padding: 20px 60px 60px 60px;
	margin: 0px 50px 0px 90px;
	text-align: justify;
	line-height: 30px;
	/*position: absolute;
	right: 30%;*/
	clear: both;
}

.wikimedia {
	float: right;
	font-weight: bold;
}

.container{
	width: 80%;
	height: 1000px;
	display: inline-block;
}

.content{
	margin: 40px 100px 40px 100px;
	display: inline-block;
}
.main{
	float: left;
	margin: 40px;
}

.frame {
    height: 150px;      /* equals max image height */
    width: 150px;
    /*border: 1px solid red;*/
    white-space: nowrap;
    clear: both;
    
    margin-top: 15px;
    margin-right: 60px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    
    vertical-align: middle;
    max-height: 150px;
    max-width: 150px;
}


